/**
 * app.js
 * @version 1.02
 * @author akatsuki_yu 1.02 メニュー項目数が多い場合に項目の高さを自動調整するよう修正
 */

@charset "UTF-8"; /* 文字エンコードの設定（削除不可） */

@font-face {
	font-family: 'Line Seed JP';
	src: url('./assets/LINESeedJP_OTF_Rg.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Line Seed JP';
	src: url('./assets/LINESeedJP_OTF_Bd.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Line Seed JP';
	src: url('/assets/LINESeedJP_OTF_Eb.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}


:root {
	/* カラーパレット */
	--light-gray: #e6e6e6;
	--medium-gray: #cacaca;
	--dark-gray: #8a8a8a;
	--black: #0a0a0a;
	--white: #fefefe;

	--kango-yellow:#feeb8c;
	--kango-mint:#80d0ab;
	--kango-blue:#5354e4;

	/* フォント設定 */
	--mainfont: 'Line Seed JP', sans-serif;
	--regular:400;
	--bold:bold;
	--extrabold:800;

	/* 基本背景色 */
	--basictext: #444;
	--contentbgc:white;
}


/* 基本レイアウト */
* {
	box-sizing: border-box;
}

/* スタイル設定しやすくするためのクラス */
.strong {
	font-weight:bold;
	color:red;
}
.exsmall {
	font-size:0.7em;
}
.small {
	font-size:0.8em;
}
.large {
	font-size:1.1em;
}
.exlarge {
	font-size:2em;
}

.twitter, .external {
	display: inline-block;
	width:100%;
	font-size:0.8em;
	white-space:nowrap;
	overflow-x:hidden;
	text-overflow: ellipsis;
	
}
	.twitter:before {
		font-family: 'Font Awesome 5 Brands';
		font-weight:400;
		content: '\f099';
		margin-right:0.3em;
	}
	del .twitter {
		text-decoration:line-through;
	}

.external {
	font-size:1em;
}
	.external:before {
		font-family: 'Font Awesome 5 Free';
		font-weight:700;
		content: '\f35d';
		margin-right:0.3em;
	}

html {
	overflow-y: scroll;
}
body	{
	/* font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", sans-serif; */
	font-family: var(--mainfont);
	font-weight:var(--regular);
	color:var(--basictext);
	margin:0;
	padding:0;
	background-color:var(--light-gray);
}
#page {
	position:relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width:1280px;
	/* column-gap: 16px; */
	margin:auto;
}


#overlay {
	content: '';
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	width: 100vw;
	height: 100dvh;
	background: rgba(0,0,0,0);
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	z-index: 3;
}
#overlay::after {
	visibility: hidden;
	position: fixed;
	top: 40%;
	left: 0;
	display: block;
	width: 100%;
	height: 50px;
	color: rgba(255,255,255,0);
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	transition: all .5s ease;
}

	.open #overlay {
		visibility: visible;
		cursor: pointer;
		background: rgba(0,0,0,.7);
	}
	.open #overlay::after {
		visibility: visible;
		color: rgba(255,255,255,.8);
	}


nav {
	position: sticky;
	top:0;
	width:25vw;
	min-width:250px !important;
	max-width:300px;
	height:calc(100vh - 80px);
	box-shadow: inset -13px 0 20px -13px rgba(10,10,10,.25);
}

	header {
		width:100%;
		padding:2em 1em 1em;
	}

		.logo {
			display:flex;
			align-items: center;
			justify-content: center;
		}
			.logo img {
				width:100%;
				max-width:480px;
				height:auto;
				object-fit: cover;
			}
		header h1 {
			text-align:center;
			font-size:20px;	
			margin:0;
		}

	nav h2 {
		display: none;
	}

	#nav-index {
		padding:1em;
		position:relative;
		z-index:10;
		margin:0;
	}
		#nav-index li {
			list-style-type: none;
			padding:0.5em 0;
		}

		#nav-index li:hover {
			transition: all 0.3s ease;
			background: var(--medium-gray);
		}

#main {
	padding:0;
	width:100%;
}

#faqbody {
	background-color: var(--white);
	width:100%;
	height:100%;
}
	#faqbody a,
	#faqbody a:link,
	#faqbody a:active,
	#faqbody a:visited {

	}
	#faqbody a:hover {
		color:var(--kango-mint);
		transition: all 0.3s ease;
	}

	#faqbody a.button.success,
	#faqbody a:link.button.success,
	#faqbody a:active.button.success,
	#faqbody a:visited.button.success {
		color:white;
		background-color: var(--kango-mint);
	}
	#faqbody a:hover.button.success {
		opacity:0.7;
		transition: all 0.3s ease;
	}

	#faqbody h1 {
		font-size:1.5em;
		padding:0.1em 0.3em;
		background:var(--kango-yellow);
		font-weight:var(--extrabold);
		border-radius:0.3em;
	}
		/* #faqbody h1::first-letter {
			font-size:1.5em;
			font-weight:var(--bold);
			color:orange;
		} */
		#faqbody h1::before {
			content:'\f5ac';
			font-family: 'Font Awesome 5 Free';
			font-weight: bold;
			margin-right:0.25em;
		}


	#faqbody h2 {
		font-size:1.3em;
		font-weight:var(--bold);
		border-bottom:3px solid var(--kango-mint);
		padding-left:1.2em;
		text-indent: -1.2em;
	}
		#faqbody h2::before {
			content:'\f0da';
			font-family: 'Font Awesome 5 Free';
			font-weight: bold;
			padding:0.4em;
		}

	#faqbody h3 {
		font-size:1em;
		font-weight:var(--bold);
		border-left:0.5em var(--kango-blue) solid;
		padding-left:0.5em;
	}

	#faqbody img {
		width:480px;
		max-width:100%;
	}

footer {
	width:100%;
	height:80px;
	margin:0;
	text-align: center;
	background:var(--kango-mint);
	color:white;

	display: flex;
	justify-content: center;
	align-items: center;
}

	footer a,
	footer a:link,
	footer a:active,
	footer a:visited {
		color:var(--kango-yellow);
	}
	footer a:hover {
		color:var(--kango-blue);
		transition: all 0.3s ease;
	}



/* 戻るボタン */
ul#MODORIBUTTON {
	position:fixed;
	right:20px;
	bottom:0px;
}
	ul#MODORIBUTTON li {
		list-style-type:none;
	}

	/* メニュートグルとmove-page-topの見た目を揃える */
	#move-page-top,
	#menutoggle {
		text-decoration:none;
		text-align:center;
		color:white;
		font-size:200%;
		width:45px;
		height:45px;
		line-height:45px;
		border-radius: 50%;
		background-color: var(--kango-blue);
		cursor: pointer;
		opacity:0.75;
		z-index:50;
	}

	#move-page-top {
		display:block;
	}



/**
 * ブレークポイント
 * 参考：https://pengi-n.co.jp/blog/responsive/
 * small（スマホ）：max 599px
 * medium（タブレット）：max 1024px
 * large（タブレット横～PC）： min 1025px
 * 
 * 参考：iPad pro 10.2インチはwindow.innerwidth:1112（1024より上）
 */
@media screen and (min-width:1281px) {

}

@media screen and (min-width:1025px) and (max-width:1280px) {
}

/* タブレット縦以上 */
@media screen and (min-width:1025px) {
}


/* small and medium */
@media screen and (max-width:1024px) {
	#page {
		flex-direction: column;
		justify-content: normal;
		width:100%;
	}
	nav {
		position:static;
		width:100%;
		height:auto;
		box-shadow: none;
		min-width:unset;
		max-width: unset;
	}
		header {
			background-color:var(--kango-yellow);
		}

		#menutoggle {
			position:fixed;
			display:block;
			right:20px;
			bottom:5vh;
			font-size:170%;
			z-index:100;
		}
		#nav-index {
			position:fixed;
			top:0;
			left:0;
			right: unset;
			bottom:unset;
			width:60vw;
			height:100dvh;
			transform:translateX(-80vw);
			background-color:white;
			z-index:5;
			padding:1.5em 0 0 0;
			margin:0;

			display:flex;
			flex-direction: column;
			flex-wrap: nowrap;
		}
			#nav-index li {
				border-top:1px solid var(--dark-gray);
				padding: 1.5em 0 1.5em 1em;
			}
				#nav-index li:nth-child(2n) {
					background-color: #f0f0f0 ;
				}
				#nav-index li:last-child {
					border-bottom:1px solid var(--dark-gray);
				}

			.open #nav-index { 
				transform: translateX(0);
				transition: all .5s ease; 
			}

			.menumove {
				transition: all .5s ease;
			}

	#main {
		column-gap: normal;
	}

	#faqbody h1 {
		font-size:1.4em;
	}
	#faqbody ul {
		margin-left:2rem;
	}

	ul#MODORIBUTTON {
		bottom:calc(5vh + 45px);
	}

}

/* Medium and up */
@media screen and (min-width:600px) {
	#faqbody {
		padding:2em;
	}
}

/* Small only */
@media screen and (max-width:599px) {
	header {
		height:fit-content;
		padding:1em 0;
	}
		.logo {}
			.logo img {
				width:80vw;
				height:auto;
			}

		#menutoggle {
			bottom:0;
		}
		#nav-index {
			width:75vw;
			height:100dvh;
			padding:0;
			/* align-items:stretch; */
			justify-content: center;
		}
			#nav-index li {
				font-size:0.9em;
				padding:0 0.7em;
				display: flex;
				align-items: center;
				flex:1 1 auto;
				max-height:3.5em;
			}

	#main {
		display:block;
		padding:1em 0 0;
	}

	#faqbody p {
		padding:0 0.5rem;
	}

	#faqbody h1 {
		font-size:1.3rem;
		padding:0.3em;
		border-radius: 0;
	}
	#faqbody h2 {
		font-size:1.2rem;
		padding-left:1.4rem;
		text-indent: -1.4rem;
		padding-right:0.5rem;
	}
		#faqbody h2:before {
			
		}
	#faqbody h3 {
		border-left:0.75em var(--kango-blue) solid;
	}

	ul#MODORIBUTTON {
		bottom:45px;
	}


}
